* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Comic Sans MS", cursive, sans-serif;
    cursor: url('donkey1.png'), auto;
}
body {
    background: linear-gradient(to left, indianred, #FFFF40);
    height: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 4.5em; /* Adjust size as needed */
    color: #ffffff; /* Optional: A romantic pink color */
    text-shadow: 2px 2px 5px black, -2px 2px 5px black, 2px -2px 5px black, -2px -2px 5px black;
    margin: 0 5% 2%;
}
@media (min-width: 1024px) {
    h1 {
        font-size: 6em;
    }
}

/* DROPDOWN */
.dropdown {
    padding-top: 30px;
    padding-right: 30px;
    justify-content: right;
    display: flex;
    position: relative;
    padding-bottom: 30px;
}

.dropbtn {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent; /* Ensure background color for visibility */
    min-width: 160px;
    z-index: 1;
    border-radius: 20px;
    right: 0;
    top: 100%; /* Align dropdown content below the button */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid black;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 2px #fff;
    border-radius: 20px;
    background: #fff;
}

.dropdown-content a:hover {
    background-color: transparent;
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* HEADER */
.header {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 40px 0;
}

/* HEART */
.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 50px auto;
    transform: rotate(-45deg);
    box-shadow: 5px 5px 75px rgba(0, 0, 0, 0.5), -5px 5px 75px rgba(0, 0, 0, 0.5), -5px -5px 75px rgba(0, 0, 0, 0.5), 5px -5px 75px rgba(0, 0, 0, 0.5);
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 50px;
}

.song {
    display: flex;
    justify-content: center;
}

.pics {
    padding-top: 60px;
    display: flex;
    flex-direction: row; /* Default: horizontal layout */
    justify-content: center;
    align-items: center;
}

.item {
    margin: 10px; /* Optional: space between items */
}

/* Media query for devices with a width less than 700px */
@media (max-width: 700px) {
    .pics {
        flex-direction: column; /* Vertical layout for small screens */
    }
}
.fit {
    width: 30%;
}
.fit-con {
    display: flex;
    justify-content: center;
}
/* Facts */
.facts-p {
    font-size: 1.5em; /* Adjust size as needed */
    color: black; /* Optional: A romantic pink color */
    text-shadow: 2px 2px 3px #fff, -2px 2px 3px #fff, 2px -2px 3px #fff, -2px -2px 3px #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 15px;
    margin: 0 5%;
}

/* Letters */
.letters-h {
    font-size: 1.25em; /* Adjust size as needed */
    color: black; /* Optional: A romantic pink color */
    text-shadow: 2px 2px 3px #fff, -2px 2px 3px #fff, 2px -2px 3px #fff, -2px -2px 3px #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3% 7%;
}
.letters-p {
    font-size: 1.25em; /* Adjust size as needed */
    color: #fff; /* Optional: A romantic pink color */
    text-shadow: 2px 2px 3px #000, -2px 2px 3px #000, 2px -2px 3px #000, -2px -2px 3px #000;
    display: flex;
    justify-content: center;
    text-align: center;
}
.let-con {
    display: grid;
    max-width: 600px;
    padding: 6%;
}
.let-medcon {
    border: 2px solid black;
    background: rgba(255, 255, 255, .5);
}
.let-bigcon {
    display: grid;
    justify-content: center;
    margin: 3% 2%;
    border-radius: 5%;
}
.softp-bg {
    background: linear-gradient(rgba(232, 158, 184, .5), rgba(255, 255, 255, .5)) !important;
}
.softpp-bg {
    background: linear-gradient(to bottom right, rgba(232, 158, 184, .5), rgba(109, 153, 232, 1)) !important;
}
.softyr-bg {
    background: linear-gradient(to right, indianred, #FFF) !important;
}
.softry-bg {
    background: linear-gradient(to left, indianred, #FFF) !important;
}
.softb-bg  {
    background: linear-gradient(to bottom right, rgba(109, 153, 232, 1), rgba(255, 255, 255, .8)) !important;
}
.softc-bg  {
    background: linear-gradient(to top right, indianred, #FFFF40);
}

/* Audio */
.audio-container {
  position: relative;
  width: 100%;
  max-width: 300px; /* Adjust based on desired button size */
  margin: auto;
    z-index: 1;
}

.play-button {
  width: 100%;
  padding-bottom: 100%; /* This creates a square button */
  background-color: transparent;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  outline: none;
}

.play-button::before {
  content: '';
  position: absolute;
  left: 51%;
  top: 59%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 40px solid black;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
}

.play-button.pause::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 59%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 5px;
    border-left: transparent;
  background-color: transparent;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  box-shadow: 12px 0 0 3px black, -12px 0 0 3px black;
}
#daily-photo {
    width: calc(15% + 200px);
    margin: 0 3%;
    border-radius: 3%;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5), -2px -2px 5px 2px rgba(0, 0, 0, 0.5);
}
.daily-con {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 0 3% 3%;
}
.slider-container {
    display: flex;
    justify-content: center;
}
@media (max-width: 900px) {
    .slider-container {
        display: grid;
        text-align: center;
    }
}